[core]
editor=nvim --clean
autocrlf=input
safecrlf=true

[color]
diff=auto
status=auto
branch=auto
ui=auto

[pull]
rebase=false

[credential]
helper=/usr/lib/git-core/git-credential-libsecret

[user]
name=julienbenjamin

[push]
default=simple

[alias]
loga=log --oneline --graph --all

